#estadisticas{
    color: black;
    background: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, tr, th, td {
    text-align: center;
    border: 2px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    padding: 10px;
}
button {
    background-color: #348F41; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color:#01602D;
    cursor: pointer;
}
