h1 {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

#textSearch {
	width: auto;
	float: right;
	font-size: 12pt;
    margin: 1.5% 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, tr, th, td {
    text-align: center;
    border: 2px solid black;
    font-family: Roboto-Light;
    font-size: 10pt;
    padding: 10px;
}

table a {
    text-decoration: none;
    font-weight: bold;
    color: #348F41;
}

table tbody tr th {
    font-family: Roboto-Regular;
    color:#01602D;
    font-size: 15px;
}

div table input {
    border: 0;
    appearance: none;
}

#noticias {
    color: #000;
    background: #fff;
}

#image1{
    color: #01602D;
    text-decoration: none;
}

h1,h2,h3 {
    font-family: Roboto-Regular;
    color:#348F41;
}