{% extends 'core/base.html' %}

{% load auth_extras %}

{% block cuerpo %}

    <h1 class="h1">Proyectos</h1>
    {% if proyectos.count != 0%}
        <input type="text" id="textSearch" name="search" value="" placeholder="Búsqueda...">
    {%endif%}    
    <br>
    <br>
    {% if proyectos.count != 0%}
        <table id="tableConv" style="overflow-x:auto;">
            {% csrf_token %}
            <tr>
                <th>Codigo</th>
                <th>Convocatoria</th>
                <th>Semillero a cargo</th>
                <th>Fecha de inicio</th>
                <th>Fecha de cierre</th>
                <th>Porcentaje de avance</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            {% for proyecto in proyectos %}
                <tr class="info">
                    <td><a href="{% url 'proyecto_details' id_item=proyecto.id %}">{{proyecto.codigo}}</a></td>
                    <td><a href="{% url 'details' id_item=proyecto.convocatoria.id %}">{{proyecto.convocatoria}}</a></td>
                    <td><a id="a1" href="{% url 'semillero_details' id=proyecto.semillero.id %}">{{proyecto.semillero}}</a></td>
                    <td>{{proyecto.start}}</td>
                    <td>{{proyecto.closed}}</td>
                    <td>{{proyecto.porcentaje}}</td>
                    <td>
                        {% if proyecto.estado == '0' %}
                            Cerrado
                        {% elif proyecto.estado == '1' %}
                            Abierto
                        {% endif %}
                    </td>
                    <td>
                        <a class="config2" title="Visualizar reportes" alt="Visualizar reportes" id="see4" href="{% url 'reportes' id=proyecto.id %}"><i class="fas fa-eye"></i></a>
                        {% if request.user|is_coord %}
                            {% if proyecto.estado == '1' %}
                                <a class="config2" title="Adjuntar reporte" alt="Adjuntar reporte" id="asignar" href="{% url 'reportar' id=proyecto.id %}"><i class="fas fa-plus-circle"></i></a>
                            {% endif %}
                        {% elif request.user|is_admin %}    
                            {% if proyecto.estado == '0' %}
                                <a class="config2" title="Reabrir Proyecto" alt="Reabrir proyecto" id="asignar" onclick="reabrir('{{proyecto.id}}')"><i class="fas fa-lock-open"></i></a>
                            {% elif proyecto.estado == '1' %}    
                                <a class="config2" title="Cerrar Proyecto" alt="Cerrar proyecto" id="asignar" onclick="cerrar('{{proyecto.id}}')" ><i class="fas fa-lock"></i></i></a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
    {% else %}
        <div class="message in-info">
            <p>En este momento no hay proyectos</p>
        </div>
    {% endif %}

    {% load static %}
    <script type="text/javascript" src="{% static 'conv/js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'conv/css/participate_styles.css' %}">
    <link rel="stylesheet" href="{% static 'conv/css/proyectos_styles.css' %}">
{% endblock %}