{% extends 'core/base.html' %}
{% block cuerpo %}
    <h1 class="h1">Editar semillero</h1>
    <a class="config" title="Volver" alt="Volver" id="delete" href="{% url 'create' %}"><i class="fas fa-reply"></i></a>
    <br>
    <br>
    <form id="semilleroForm" action="" method="POST">
        {% csrf_token %}
        <div class="add">
            <div id="coord">
                <label for="coord">Coordinador</label>
                <input type="text" name="cedula" id="cedula" placeholder="Cedula del coordinador" autocomplete="off" required>
                <button type="button" name="consult" id="consult">Consultar</button>
            </div>
            <div id="new_coord">
                <input type="hidden" name="estado" id="estado" value="1" autocomplete="off">
                <div id="new_integr" >
                    <label for="">Información del coordinador</label>
                    <input type="text" name="name" id="name" placeholder="Nombres" autocomplete="off" required>
                    <input type="text" name="lastname" id="lastname" placeholder="Apellidos" autocomplete="off" required>
                    <label>Documento del coordinador</label>
                    <p id="coord2" ></p>
                    <br>
                    <input type="email" name="email" id="email" placeholder="Correo electrónico" autocomplete="off" required>
                    <input type="text" name="phone" id="phone" placeholder="Telefono" autocomplete="off" required>
                    <input type="text" name="adicional" id="adicional" placeholder="Información Adicional" autocomplete="off">
                </div>
                <div id="new_user" >
                    <label for="">Información del usuario</label>
                    <input type="text" name="username" id="username" placeholder="Nombre de usuario" autocomplete="off" required>
                    <input type="password" name="password" id="password" placeholder="Contraseña" autocomplete="off" required>
                    <input type="password" name="rpassword" id="rpassword" placeholder="Repetir contraseña" autocomplete="off" required>
                </div>    
                <button type="button" name="register" id="register">Registrar Coordinador</button>
            </div>    
        </div>
        <div id="campos">
            <label for="coord"><b>Información del coordinador</b></label>
            <p id="coord1"><b> Nombre: </b>{{semillero.coordinador.name}} {{semillero.coordinador.lastname}}</p>
            <p id="coord3"><b> Documento: </b>{{semillero.coordinador.document}} </p>
            <br>
            <input type="hidden" id="coordinador" name="coordinador" value="{{semillero.coordinador.document}}">
            <button type="button" name="register_2" id="register_2">Modificar coordinador</button>
            <label for="coord"><b>Información del semillero</b></label>
            <select name="id_group" id="id_group" required>
				<option disabled>Seleccione un grupo de investigación</option>
                {% for grupo in grupos %}
                    {% if grupo.id == semillero.id_group %}
                        <option value="{{grupo.id}}" selected>{{grupo.name}}</option>
                    {%  else %}
                        <option value="{{grupo.id}}">{{grupo.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="text" name="name_s" id="name_s" placeholder="Nombre del semillero" value="{{ semillero.name }}" autocomplete="off" required>
            <label><b>Correo de contacto</b></label>
            <input type="email" name="mail" id="mail" placeholder="Correo de contacto" value="{{semillero.mail}}" autocomplete="off" required>
            
            <label><b>Descripcion del semillero</b></label>
            <textarea name="description" id="description" cols="30" placeholder="Descripcion" rows="10" required>{{ semillero.description }}</textarea>
            <button type="button" name="register1" id="register1">Editar semillero</button>
        </div>
    </form>

    {% load static %}
    <script type="text/javascript" src="{% static 'core/js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'create/css/create_styles.css' %}">

{% endblock %}
